@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --primary: #ffbcbc ;
  --secondary: #f0efeb;
  --accent: #e75353;
  --dark-accent: #cf4040;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*color-scheme: light dark;*/
  color: #000000e2;
  background-color: var(--primary);
  background-image: url("/heartpattern.png");
  background-size: 12%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root, body {
  width: 100%;
  overflow-x: hidden;
}

.ephesis {
  font-family: "Ephesis", cursive;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Ephesis", cursive;
  font-weight: 400;
  font-style: normal;
  @apply text-6xl xs:text-7xl sm:text-7xl;
}

h3 {
  @apply text-xl tracking-wider font-semibold;
}

h4 {
  font-family: "Ephesis", cursive;
  font-weight: 400;
  font-style: normal;
}

p {
  @apply text-lg md:text-base opacity-80;
}

.btn-primary {
  @apply bg-[var(--accent)] text-lg md:text-base text-white py-2 px-4 flex justify-center items-center
  hover:bg-[var(--dark-accent)] transition-colors duration-100 ease-linear;
}

@media (prefers-color-scheme: light) {
}
